<td>
  <select title="status" onchange={{action 'handleChangeStatus'}}>
    {{#each statuses as |status|}}
      <option value={{status}} selected={{eq task.status status}}>{{status}}</option>
    {{/each}}
  </select>
</td>
<td width="60">
  {{time-format duration}}
</td>
<td>
  {{task.title}}
</td>
<td>
  <button {{action 'handleRemoveTask'}}>remove task</button>
</td>
