<td>
  <select onchange={{action 'changeStatus'}}>
    {{#each statuses as |status|}}
      <option value={{status}} selected={{eq task.status status}}>{{status}}</option>
    {{/each}}
  </select>
</td>
<td width="60">
  {{duration}}
</td>
<td>
  {{task.title}}
</td>
<td>
  <button {{action 'removeTask'}}>remove task</button>
</td>
